body {
  font-family: "Segoe UI", sans-serif;
  background: #eef7ff;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #004080;
}

section {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea {
  width: 90%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #0078d7;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
}

#filter-section {
  margin: 20px auto;
  text-align: center;
  padding: 10px;
}

#searchBox, #dayFilter {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: 5px;
  width: 200px;
}

#searchBox:focus, #dayFilter:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 3px #007bff;
}

#downloadPdfBtn {
  background-color: #28a745;
}
#downloadPdfBtn:hover {
  background-color: #218838;
}


button:hover {
  background-color: #005fa3;
}

li button {
  margin: 5px;
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
}

li button:nth-child(1) {
  background-color: #ffc107; /* Edit button */
}

li button:nth-child(2) {
  background-color: #dc3545; /* Delete button */
}

li button:hover {
  opacity: 0.8;
}

img {
  width: 150px;
  height: 100px;
  border-radius: 8px;
  margin: 5px;
}

#sort-summary {
  text-align: center;
  margin: 20px;
}

#sortSelect {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#tripSummary {
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.visited {
  background-color: #d4edda;
  border-left: 5px solid #28a745;
}
